{% extends 'base.html' %} {% block content %}

<h1>Adventurer Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ hero.name }}</span>
    <p>Job: {{ hero.job }}</p>
    <p>Description: {{ hero.description }}</p>
    <p>Race: {{hero.race}}</p>
    {% if hero.age > 0 %}
    <p>Age; {{hero.age }}</p>
    {% else %}
    <p>Age: apprentice {{ hero.age }}</p>
    {% endif %}
    <p>User: {{hero.user}} </p>
  </div>
  <div class="card-action">
    <a href="{% url 'hero_Update' hero.id %}">Edit</a>
    <a href="{% url 'hero_Delete' hero.id %}">Delete</a>
  </div>
</div>

{% endblock %}